.player-app{
    position: relative;
}
.app{
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 50px;
    
}
.c-player{
    display: block;
    background-color: #313131;
    padding: 50px;
    border-radius: 16px;
    box-shadow: inset -6px -6px 12px rgba(0, 0, 0, 0.8), inset -6px -6px 12px rgba(255, 255, 255, 0.4);   
}
.c-player > h4 {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}
.c-player > {
    color: #AAA;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
}
.c-player--details .details-img {
    position: relative;
    width: fit-content;
    margin: 50px auto;
}
.c-player--details .details-img img{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 250px;
}
.c-player--details .details-title{
    color: #EEE;
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
}
.c-player--details .details-artist{
    color: #AAA;
    font-size: 20px;
}
.c-player--controls{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.c-player--controls .play-btn{
    display: flex;
    margin: 0 30px;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 
      4px 4px 10px rgba(0, 0, 0, 0.8)
      -4px -4px 10px rgba(255, 255, 255, 0.4)
      inset -4px -4px 10px rgba(0, 0, 0, 0.4)
      inset 4px 4px 10px rgba(255, 255, 255, 0.4);
    border: none; 
    background-color: #36454f; 
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}
.c-player--controls .skip-btn{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
}