.event{
	position: relative;

}
.event-pic img{
	width: 100%;
	object-fit: cover;
	opacity: 0.5;
	margin-right: 20px;
	height: 300px;
	filter: brightness(60%);
}
.event-text{
	position: absolute;
	top: 0;
	left: px;
	width: 80%;
}